<mat-toolbar class="low-nav">
  <div class="container">
    <div>
      <button mat-raised-button class="low-nav-button">All</button>
    </div>
    <div>
      <button mat-raised-button class="low-nav-button">Music</button>
    </div>
    <div>
      <button mat-raised-button class="low-nav-button">Gaming</button>
    </div>
    <div>
      <button mat-raised-button class="low-nav-button">Films</button>
    </div>
    <div>
      <button mat-raised-button class="low-nav-button">House</button>
    </div>
    <div>
      <button mat-raised-button class="low-nav-button">Clothing</button>
    </div>
  </div>
</mat-toolbar>
