.navbar{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fe8f8f7d;
  border-bottom: 1px solid #fe8f8f;
  .logo{
    display:flex;
    align-items: center;
  }
  .search-container{
    display: flex;
    align-items: center;
    align-items: stretch;
    .search-form{
      display: flex;
      align-items: center;
      .search-field{
        border-radius: 8px;
        width: 50vw;
        background-color: #aaa;
      }
      .search-button{
        height: 100%;
      }
    }
  }
  .logged-user{
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

::ng-deep .navbar
{
  .mat-mdc-form-field-subscript-wrapper{
    display: none;
  }
  .mdc-text-field {
    background-color: #fbf6f4 !important;
  }
}
